@import 'src/styles/variables';

.header {
  grid-area: header;
  display: block;
  padding: 20px 34px 20px 24px;
  box-sizing: border-box;
  text-align: right;
  background-color: #FFFFFF;

  &_title {
    float: left;
    font-size: 24px;
    font-weight: 100;
    display: inline-block;
    margin: 0;
    color: var(--color-black);
  }

  &_print,
  &_setting {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;
    user-select: none;
    vertical-align: top;
  }

  &_print {
    margin-right: 24px;
  }

  &_with_tab {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    padding: 0;
    background-color: #FFFFFF;
  }
}

@media (max-width: 700px) {
  .header {
    &_print,
    &_setting {
      display: none;
    }
  }
}

@media print {
  .header {
    display: none;
  }
}
