.page_wrapper {
  display: grid;
  grid-template-areas: 'sidebar header'
                        'sidebar main';
  grid-template-columns: 240px 1fr;
  grid-template-rows: 72px 1fr;
  min-height: 100vh;

  transition: grid-template-columns 0.5s;
  background-color: #F5F7F9;

  &_header,
  &_main {
    width: calc(100vw - 258px);
  }

  &_header {
    grid-area: header;
    display: block;
    height: 100px;
    background-color: var(--color-white);
  }

  &_main {
    grid-area: main;
    display: block;
    min-height: calc(100vh - 72px);
    padding: 24px;
    box-sizing: border-box;
    break-inside: auto;
  }
}
