@import '../../../../styles/variables';

.header_with_tab {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding: 0;
  background-color: #FFFFFF;
}

.light_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  height: 72px;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  box-shadow: -6px var(--space-xs)  var(--space-s) #EEEEEE;
  background-color: #FFFFFF;

  &_gap {
    grid-area: header;
    height: 72px;
  }

  &_title {
    font-size: 24px;
    font-weight: 100;

    display: inline-block;
    width: calc(100% - 96px);
    padding: 0;
    margin: 0 auto;
    text-align: center;
    vertical-align: top;
    white-space: normal;
    color: var(--color-black);
  }

  &_button {
    display: inline-block;
    width: 48px;
    height: 100%;
    padding: 0;
    cursor: pointer;
    user-select: none;
    vertical-align: top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-image: url('../../../../assets/menu/arrow_right.svg');

    &:first-child {
      background-image: url('../../../../assets/menu/arrow_left.svg');
    }
  }
}

