@import '../../../../styles/variables.scss';

.logo {
  display: block;
  padding: 0 24px 0 0;
  margin: 0 0 27px 0;

  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  border: none;

  &_icon {
    height: 20px;
    margin: 0 auto;
  }
}

.logo_title {
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
  margin: 0 0 0 46px;
  line-height: 32px;
  vertical-align: middle;
  text-align: center;
  letter-spacing: 7px;
  color: #DCE3F6;
}

@media (max-width: 1000px) {
  .logo {
    padding: 0;
    text-align: center;
  }

  .logo_title {
    display: none;
  }
}