@import 'src/styles/variables';

.swimming_pool_track {
  display: block;
  height: 84px;
  width: 100%;

  text-align: left;
  white-space: nowrap;

  background-repeat: repeat-x;
  background-size: auto 100%;
  background-position: top left;

  &_value,
  &_line,
  &_chart {
    display: inline-block;
    height: 100%;
    text-decoration: none;
    vertical-align: middle;
    background-size: auto 100%;
  }

  &_value {
    width: 85px;
    line-height: 80px;
    text-align: center;
    color: var(--color-black);
    background-color: var(--color-white);
  }

  &_line {
    overflow: hidden;
    width: calc(100% - 459px);
    background-color: var(--color-31);
  }

  &_chart {
    width: 50%;
    text-align: right;
    background-color: rgba(0, 0, 55, 0.4);
  }

  &_man {
    position: relative;
    top: 20px;
    left: 30px;
    height: 40px;
  }
}

.swimming_pool_track + .swimming_pool_track .swimming_pool_track_line {
  border-top: 4px dashed red;
}

@media (max-width: 900px) {
  .swimming_pool_track {
    height: 70px;

    &_value {
      width: 71px;
      line-height: 64px;
    }
  }
}
