.main_wrapper {
  display: block;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  white-space: nowrap;
  break-inside: auto;

  &_white {
    position: relative;
    display: inline-block;
    padding: 24px;
    margin-bottom: 24px;
    width: 100%;
    white-space: normal;
    box-sizing: border-box;
    vertical-align: top;
    break-inside: auto;
    border-radius: 8px;
    border: 1px solid var(--color-border);
    background-color: var(--color-white);
  }
}

@media screen and (max-width: 1200px) {
  .main_wrapper {
    &_white {
      display: block;
    }
  }
}

@media print {
  .main_wrapper {
    &_white {
      padding: 0;
      border-radius: 0;
      border: none;
    }
  }
}
