.components_section {
  display: block;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  white-space: nowrap;
  break-inside: auto;

  &_white {
    position: relative;
    display: inline-block;
    padding: 24px;
    margin-bottom: 24px;
    width: 100%;
    white-space: normal;
    box-sizing: border-box;
    vertical-align: top;
    break-inside: auto;
    border-radius: 8px;
    border: 1px solid var(--color-border);
    background-color: var(--color-white);
  }

  &_icons {
    position: absolute;
    top: 14px;
    right: 14px;
    display: inline-block;
    white-space: nowrap;
  }

  &_column {
    position: relative;
    display: inline-block;
    width: calc(50% - 12px);
    padding: 0;
    margin: 0;
    white-space: normal;
    vertical-align: top;
    break-inside: auto;
    border: 1px solid transparent;
    background-color: transparent;
  }
}

.components_section_column + .components_section_column {
  margin-left: 24px;
}

@media screen and (max-width: 950px) {
  .components_section {
    &_column {
      display: block;
      width: 100%;
      margin: 0;
    }
    &_white {
      display: block;
    }
  }
  .components_section_column + .components_section_column {
    display: block;
    margin: 0;
  }
}

@media print {
  .components_section_white {
    padding: 0;
    border-radius: 0;
    border: none;
  }
}
