@import 'src/styles/variables';

.races {
  position: relative;
  margin: 0 auto var(--space-xxl);
  border: var(--space-xs) solid var(--color-border);
  border-left: none;
  border-right: none;

  &_track {
    position: relative;
    height: 70px;
    padding: var(--space-xxs);
    margin: 0 auto;

    text-align: right;
    border-bottom: 1px solid var(--color-border);
    background-color: var(--color-grey);

    &_car {
      position: absolute;
      top: 0;
      left: 0;

      width: 10%;
      height: 100%;

      background-image: url('../../../assets/games/car.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: auto 70%;

      &_title {
        font-size: 12px;

        display: inline-block;
        width: 100%;
        margin: 0;
        padding: var(--space-xss);

        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;

        border: 1px solid var(--color-grey);
        border-radius: var(--border-radius-s);
        color: var(--color-black);
        background-color: var(--color-border);
      }
    }

    &_info {
      font-size: 12px;

      display: inline-block;
      width: 10%;
      height: 100%;
      margin: 0 12%;
      padding: var(--space-m);

      text-align: left;
      border-radius: var(--border-radius-l);
      border: 1px solid var(--color-grey);
      color: var(--color-black);
      background-color: var(--color-border);

      animation-name: races_track_info;
      animation-iteration-count: 1;
      animation-duration: 1s;
      animation-direction: alternate;
      animation-fill-mode: both;
    }

    &_animation {
      animation-name: races_track_car;
      animation-iteration-count: 1;
      animation-direction: alternate;
      animation-fill-mode: both;
    }
  }

  &_button {
    position: absolute;
    top: var(--space-l);
    left: calc(50% - 100px);
    z-index: 1;
  }
}

@keyframes races_track_car {
  from {
    left: 0;
  }
  to {
    left: 90%;
  }
}

@keyframes races_track_info {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
