@import 'src/styles/variables';

.console {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;

  &_header,
  &_body {
    font-size: var(--font-s);
    font-weight: 100;
    display: block;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    line-height: 1.3;
    text-align: left;
  }

  &_header {
    display: block;
    height: 32px;
    padding: 0 8px;
    line-height: 20px;
    color: #8F8F8F;
    white-space: nowrap;
    text-align: left;
    border: 1px solid #D4D4D4;
    border-bottom: none;
    cursor: default;
    background-color: #F2F2F2;
    border-radius: 4px 4px 0 0;

    &_icon {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin: 6px 8px 0 0;
      box-sizing: border-box;
      border-radius: 8px;
      border: 1px solid #B5B5B5;
      background: linear-gradient(90deg, #D7D8DB 0%, #B5B5B5 100%);
    }
  }

  &_body {
    min-height: 250px;
    padding: 8px 16px 16px;
    line-height: 1.3;
    color: #00B200;
    white-space: normal;
    background-color: #0C0C0C;
    border-radius: 0 0 4px 4px;
  }

  &_copy {
    position: absolute;
    bottom: 16px;
    right: 16px;

    &:hover {
      bottom: 15px;
      right: 15px;
    }
  }
}

@media (max-width: 800px) {
  .console {
    width: 90%;
    margin: 0 auto;

    &_body {
      height: 200px;
    }
  }
}

