@import 'src/styles/variables';

.banner {
  border-left-width: 1px;
  border-left-color: var(--color-border);

  font-weight: 100;

  width: 100%;
  height: 100%;
  padding: 0;

  letter-spacing: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  text-decoration: none;
  border-radius: var(--border-radius-s);

  color: var(--color-white);
  background-color: #A7B6FE;
  //background: linear-gradient(135deg, rgba(64,117,252,1) 0%, rgba(172,179,246,1) 100%);

  background-repeat: no-repeat;
  background-size: 180% auto;
  background-position: center center;

  &_icon {
    display: inline-block;
    width: 40px;
    margin: 0 var(--space-xs) 0 0;
    vertical-align: middle;
  }
}
