@import 'src/styles/variables';

.team_country_filter {
  margin: 0 0 var(--space-xxl);

  &_checkbox,
  &_select {
    display: inline-block;
    margin-right: var(--space-xxl);
    vertical-align: middle;
  }

  &_select {
    min-width: 350px;
  }
}

@media (max-width: 900px) {
  .team_country_filter_select {
    min-width: 100%;
  }
}

@media (max-width: 700px) {
  .team_country_filter_checkbox {
    min-width: calc(49% - 24px);
  }
}
