@import 'src/styles/variables';

.team_country_filter {
  margin: 0 0 var(--space-xxl);

  &_checkbox,
  &_select {
    display: inline-block;
    margin-right: var(--space-xxl);
    vertical-align: middle;
  }

  &_select {
    min-width: 350px;
  }
}
