@import 'src/styles/variables';

.description {
  white-space: normal;

  &_title,
  &_text,
  &_list {
    font-size: var(--font-xs);
    font-family: Arial, Verdana, sans-serif;

    display: block;
    padding: 0;
    margin: 0 auto;

    text-align: left;
    line-height: var(--font-m);
    text-decoration: none;
    vertical-align: bottom;
    white-space: normal;
    color: var(--color-black);
  }

  &_title {
    font-weight: bold;
    margin: 0 auto 4px auto;
  }

  &_text {
    margin-bottom: 4px;
  }

  &_link {
    text-decoration: underline;
    color: var(--color-button);

    &:hover {
      text-decoration: none;
    }

    &:visited {
      color: var(--color-button);
    }
  }

  &_list {
    position: relative;
    padding: 0 0 0 22px;
    margin: 0;
    list-style-type: none;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: "—";
      margin-right: 8px;
    }
  }

  &_text + &_text {
    margin-top: 8px;
  }

  &_list + &_title {
    margin-top: 4px;
  }
}
