@import 'src/styles/variables';

.get_list {
  display: inline-block;
  min-width: 140px;
  padding: var(--space-m) var(--space-m) var(--space-s);
  margin: 0 0 var(--space-sm) 0;

  box-sizing: border-box;
  vertical-align: top;

  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-s);
  background-color: #F5F7F9;

  &_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding: var(--space-m) var(--space-m) 0;
    margin: var(--space-m) 0 var(--space-xxl) 0;

    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-s);
    background-color: white;
  }

  &_title {
    position: relative;
    font-size: var(--font-s);
    display: block;
    min-height: 87px;
    margin: 0 0 var(--space-s) 0;
    padding: var(--space-xxl) var(--space-s);

    text-align: center;
    box-sizing: border-box;

    border-radius: var(--border-radius-s);
    border: 1px solid var(--color-border);
    background-color: white;

    &:before {
      position: absolute;
      bottom: -6px;
      left: calc(50% - 6px);
      z-index: 0;

      content: '';
      display: block;
      padding: 0;
      margin: 0;
      width: var(--space-m);
      height: var(--space-m);
      box-sizing: border-box;

      transform: rotateZ(45deg);
      background-color: white;
      border-right: 1px solid var(--color-border);
      border-bottom: 1px solid var(--color-border);
    }
  }

  &_icon {
    font-size: var(--font-m);
    font-weight: bold;

    display: block;
    width: 64px;
    height: 64px;
    margin: 0 auto;

    line-height: 64px;
    text-align: center;
    white-space: nowrap;
    border-radius: 32px;
    letter-spacing: 2px;

    border: 2px dotted white;
    color: var(--color-black);
    background-color: var(--color-border);
  }

  &_big_number {
    letter-spacing: normal;
  }

  &_task {
    display: block;
    margin: 0 auto;
  }

  &_pr {
    display: block;
    margin: var(--space-m) auto 0;
    color: var(--color-grey);
  }

  &_date {
    font-size: var(--font-s);
    margin: var(--space-m) auto 0;
    padding: var(--space-s) 0 0 0;

    text-align: center;
    color: var(--color-grey);
    border-top: 1px solid var(--color-border);
  }
}

