@import 'src/styles/variables';

.races {
  position: relative;
  margin: 0 auto;
  user-select: none;

  &_green {
    display: block;
    height: var(--space-xxl);

    background-color: var(--color-13);

    background-repeat: repeat-x;
    background-size: auto 100%;
    background-position: top left;
  }

  &_track {
    position: relative;
    height: 80px;
    padding: var(--space-xxs);
    margin: 0 auto;

    text-align: right;
    background-color: var(--color-grey);

    background-repeat: repeat-x;
    background-size: auto 100%;
    background-position: top left;

    &:first-child {
      // border-top: var(--space-xxs) dashed var(--color-border);
    }
  }

  &_button {
    margin-bottom: var(--space-xxl);
  }
}

@media (max-width: 900px) {
  .races_track {
    height: 70px;
  }
}
