@import '../../../../styles/variables';

.tv100and1 {
  &_row {
    display: block;
    white-space: nowrap;
  }

  &_cell_title,
  &_cell_value,
  &_cell_chart {
    position: relative;
    font-size: var(--font-xs);

    display: inline-block;
    padding: var(--space-m) 0;

    line-height: var(--table-cell-height);
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    text-align: left;
  }

  &_cell_title {
    width: 250px;
  }

  &_cell_value {
    width: 50px;
    text-align: right;
  }

  &_cell_chart {
    width: calc(100% - 300px);
    padding: 0;
  }

  &_button {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2px;

    display: block;
    height: calc(100% - 4px);

    transform: rotate3d(1, 0, 0, 0);
    box-sizing: border-box;
    border: none;
    cursor: pointer;

    background-color: var(--color-grey);
    background-image: url('../../../../assets/games/tv100and1.png');
    background-repeat: repeat-x;
    background-size: auto 100%;

    &.animation {
      animation-name: tv_100_and_1;
      animation-iteration-count: 1;
      animation-duration: 1s;
      animation-direction: alternate;
      animation-timing-function: ease-in;
      animation-fill-mode: both;
    }
  }
}

@keyframes tv_100_and_1 {
  from {
    transform: rotate3d(1, 0, 0, 0);
  }
  10% {
    transform: rotate3d(1, 0, 0, 90deg);
  }
  25% {
    transform: rotate3d(1, 0, 0, 0);
  }
  55% {
    transform: rotate3d(1, 0, 0, 90deg);
  }
  80% {
    transform: rotate3d(1, 0, 0, 0);
  }
  to {
    transform: rotate3d(1, 0, 0, 90deg);
  }
}