@import '../../../../styles/variables';

.card {
  display: inline-block;
  width: 300px;
  min-height: 270px;
  margin: 0 24px 24px 0;
  padding: 16px;
  vertical-align: top;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid var(--color-border);
  background-color: #FFFFFF;

  &_icon {
    display: block;
    width: auto;
    height: 90px;
    margin: 16px auto;
    box-sizing: border-box;
    vertical-align: top;
  }

  &_title,
  &_description {
    display: block;
    margin: 0 auto;
    padding: 0;
    line-height: 1.3;
    text-align: center;
    text-decoration: none;
    color: var(--color-black);
  }

  &_title {
    font-size: 28px;
    font-weight: bold;
    color: var(--color-11);
  }

  &_description {
    font-size: var(--font-xs);
    font-weight: 100;
    line-height: 16px;
    color: var(--color-grey);
  }

  &_button {
    padding: 0 16px;
    margin-top: 16px;
  }
}

@media (max-width: 900px) {
  .card {
    min-height: 220px;
    padding: 16px 0;

    &_title {
      margin: 0;
    }

    &_description {
      display: none;
    }
  }
}

@media (max-width: 650px) {
  .card {
    min-height: auto;
    padding: 32px 0;

    &_value {
      font-size: 22px;
    }

    &_title {
      font-size: var(--font-s);
    }

    &_icon {
      display: none;
    }
  }
}