@import '../../../../styles/variables';

.main {
  display: grid;
  grid-template-areas: 'header' 'main';
  grid-template-columns: 1fr;
  grid-template-rows: 66px 1fr;
  min-height: 100vh;
  background-color: #F5F7F9;

  &_title {
    grid-area: header;
    font-size: var(--font-l);
    line-height: var(--font-l);

    font-weight: 100;
    display: block;
    padding: 24px;
    margin: 0;

    box-sizing: border-box;
    text-align: center;
    color: #84858D;
    background-color: #252735;
  }

  &_cards {
    grid-area: main;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 60px);
    text-align: center;
  }
}

@media (max-width: 800px) {
}
