@import 'src/styles/variables';

.pie_chart {
  display: block;
  margin: 0 auto var(--space-xxl);
  padding: var(--space-xxl);

  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-m);
  background-color: var(--color-white);

  &_data {
    display: block;
    white-space: nowrap;
  }

  &_icon,
  &_legend {
    display: inline-block;
    width: 50%;
    height: 100%;
    vertical-align: middle;
  }

  &_icon {
    width: 160px;
  }

  &_legend {
    min-width: 160px;
    padding-left: var(--space-xxl);
  }

  &_line {
    position: relative;
    display: block;
    padding: 0 0 var(--space-xxs) 26px;
  }

  &_color {
    position: absolute;
    top: 4px;
    left: 0;

    display: inline-block;
    width: var(--space-m);
    height: var(--space-m);

    background-color: #D0D1D2;
  }

  &_percent,
  &_text {
    display: inline-block;
    line-height: 1.3;
    white-space: normal;
    text-decoration: none;
    color: var(--color-black);
  }

  &_percent {
    width: 40px;
  }
}
