.notifications {
  position: fixed;
  top: 12px;
  right: 0;
  z-index: 4;
  overflow: hidden;
  display: inline-block;

  &_item {
    position: relative;

    display: block;
    width: 350px;
    padding: var(--space-m) var(--space-s) var(--space-m) var(--space-m);
    margin: 0 12px 12px;

    box-sizing: border-box;
    box-shadow: 2px 2px 3px var(--color-grey);
    border-left: var(--space-s) solid var(--color-border);
    border-radius: var(--border-radius-s);
    color: var(--color-black);

    animation: notification_item 0.5s linear 3s forwards;

    &_success {
      --color-temp-border: #97C2A9;
      --color-temp-bg: #E3F8EC;
      --color-temp-title: #58866B;
    }

    &_info {
      --color-temp-border: var(--color-11);
      --color-temp-bg: #EFF7FF;
      --color-temp-title: var(--color-first);
    }

    &_warning {
      --color-temp-border: var(--color-21);
      --color-temp-bg: #FFF5F2;
      --color-temp-title: #E8B06D;
    }

    &_error {
      --color-temp-border: var(--color-12);
      --color-temp-bg: #FFEFEE;
      --color-temp-title: #DD8B87;
    }

    background-color: var(--color-temp-bg);
    border-left-color: var(--color-temp-border);


    &_title,
    &_description {
      font-size: var(--font-s);
      font-weight: 100;
      padding: 0;
      line-height: 1.3;
      text-align: left;
      animation: notification_title 0.5s linear 3s forwards;
    }

    &_title {
      font-size: var(--font-m);
      margin: 0;
      color: var(--color-temp-title);
    }

    &_description {
      margin: var(--space-xxs) 0 0;
    }
  }
}

@keyframes notification_item {
  from {
    left: 0;
    height: auto;
    padding: var(--space-m) var(--space-s) var(--space-m) var(--space-m);
    overflow: hidden;
    opacity: 1;
  }
  to {
    left: 100%;
    height: 1px;
    padding: 0 var(--space-s) 0 var(--space-m);
    opacity: 0;
  }
}
