@import '../../../../styles/variables';

.card {
  display: inline-block;
  width: 100%;
  padding: var(--space-s);
  margin: 0 var(--space-xxl) var(--space-xxl) 0;
  border-radius: var(--border-radius-m);
  border: 1px solid var(--color-border);
  page-break-inside: avoid;
  box-sizing: border-box;
  vertical-align: top;
  background-color: white;

  &_wrapper {
    width: calc(100% + 24px);
    margin: 0;
  }

  &_title {
    font-size: var(--font-m);
    font-weight: bold;
    display: block;
    margin: 0 0 var(--space-l);

    line-height: 1.3;
    white-space: normal;
    text-overflow: ellipsis;
    text-align: center;
  }

  &_line {
    display: block;
    white-space: nowrap;
    padding: var(--space-xxs);
    box-sizing: border-box;
    border: none;

    &_title,
    &_value {
      font-size: var(--font-s);
      position: relative;
      display: inline-block;
      line-height: 1.3;
      white-space: normal;
      text-overflow: ellipsis;
      vertical-align: top;
      box-sizing: border-box;
      text-align: left;
    }

    &_title {
      width: 60%;
    }

    &_value {
      width: 40%;
      text-align: right;
    }
  }
}

.card_line + .card_line {
  border-top: 1px solid var(--color-border);
}
