@import '../../../../styles/variables';

.filter {
  display: inline-block;
  margin: 0 24px 24px 0;
  vertical-align: top;
}

.tempo_page_filters {
  margin: 0 0 24px 0;
}

.date_range {
  width: 260px;
  max-width: 260px;
  margin: 0 var(--space-xs);
  text-align: center;
}

.user {
  display: inline-block;
  width: 260px;
  max-width: 260px;
  margin: 0 6px;
}