@import 'src/styles/variables';

.recommendations_page {
  column-count: 3;
  margin: 0 0 var(--space-xxl);
}

@media (max-width: 1500px) {
  .recommendations_page {
    column-count: 2;
  }
}

@media (max-width: 800px) {
  .recommendations_page {
    column-count: 1;
  }
}
