@import '../../../../styles/variables';

.table_of_contents {
  display: block;
  margin-bottom: var(--space-xxl);

  &_item {
    position: relative;
    display: block;
    padding: 0 0 0 22px;
    margin: var(--space-m) 0;
    list-style-type: none;
    text-decoration: none;
    color: var(--color-black);

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: "—";
      margin-right: 8px;
    }
  }
}
