@import 'src/styles/variables';

.game_banner {
  position: relative;
  display: block;
  width: 100%;
  height: 300px;
  margin: var(--space-xxl) auto 0;

  user-select: none;

  background-size: auto 100%;
  background-repeat: repeat;
  background-position: top left;

  &_description {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    display: block;
    width: 100%;
    padding: var(--space-xxl) var(--space-xxl) 0;

    background-color: rgba(0, 0, 0, 0.7);
  }

  &_text {
    margin: var(--space-s) auto;
    color: var(--color-white);
  }
}
