@import 'styles/variables';

.recommendations_container {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;

  text-align: left;
  white-space: nowrap;
  overflow-y: hidden;

  &_for_print {
    column-count: 2;
    white-space: normal;
    overflow: auto;
  }
}

@media print {
  .recommendations_container {
    white-space: normal;
    overflow: auto;
  }
}
