@import '../../../../styles/variables';

.recommendations_short,
.recommendations_full {
  position: relative;
  display: block;
  margin: 0 0 12px 0;
}

.more {
  display: inline-block;
  width: 30px;
  margin: 0 0 8px 0;

  text-align: center;
  vertical-align: top;
  box-sizing: border-box;
  white-space: normal;

  cursor: pointer;
  border-radius: var(--border-radius-m);
  line-height: 100px;

  border: 1px solid var(--color-border);
  color: var(--color-black);
  background-color: white;
}