@import 'styles/variables';

.recommendations_container {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;

  text-align: left;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    height: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #AAAAAA;
  }
}
