@import 'src/styles/variables';

.city_builder_description {
  margin: var(--space-m) auto;
}

.city_builder_control {
  position: relative;
  margin: 0 auto var(--space-xxl);
  user-select: none;
  background-color: var(--color-13);

  background-size: auto;
  background-repeat: repeat;
  background-position: top left;

  &_prev,
  &_next {
    position: absolute;
    top: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30%;
    height: 100%;
    cursor: pointer;

    border-radius: 0;
    border: none;
    color: transparent;

    background-color: transparent;
    background-size: auto 30%;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &_prev {
    left: 0;
    right: 30%;
  }

  &_next {
    left: 70%;
    right: 100%;
  }
}
