.sidebar {
  display: flex;
  flex-direction: column;
  grid-area: sidebar;
  padding: 24px 0 0 0;
  text-align: left;
  box-sizing: border-box;
  user-select: none;
  background-color: var(--color-black);
}

@media (max-width: 1200px) {
  .sidebar {
    padding: 23px 0 0 0;
  }
}

@media print {
  .sidebar {
    display: none;
  }
}
