@import 'src/styles/variables';

.quize {
  &_container {
    position: relative;
    display: block;
    width: 100%;
    height: 500px;
    margin: 0 auto;

    text-align: center;
    overflow: hidden;

    background-color: #F0AE7A;
    background-position: center center;
    background-size: auto 100%;
    background-repeat: repeat;
  }

  &_slider {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;

    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

    &_animation {
      animation-name: quize_slider;
    }
  }

  &_footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    display: block;
    width: 100%;
    padding: var(--space-xxl) 0;

    text-align: center;
  }

  &_title,
  &_description {
    font-weight: 100;

    display: block;
    width: 500px;
    padding: var(--space-xxl) 64px;
    margin: 0 auto;

    line-height: 1.5;
    box-sizing: border-box;
    text-align: center;

    color: var(--color-black);
    background-color: var(--color-white);
  }

  &_title {
    font-size: var(--font-l);
    margin: 0 auto var(--space-xxl);
    border-radius: var(--border-radius-m);
    background: radial-gradient(ellipse farthest-corner at 50% 50%, rgba(255, 255, 255, 1) 0%, rgba(240, 174, 122, 0.5) 100%);
  }

  &_description {
    font-size: var(--font-m);
    margin: 100px auto 0;
  }

  &_icon {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto var(--space-xxl);

    border: var(--space-s) solid #E8816E;
    box-shadow: 0 0 5px var(--color-grey);
    background-color: #E8816E;

    background-position: center center;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }
}

@keyframes quize_slider {
  from {
    bottom: 0;
    left: auto;
    opacity: 1;
  }
  49% {
    bottom: 100%;
    opacity: 0;
  }
  51% {
    right: auto;
    top: 100%;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

