@import 'src/styles/variables';

.quize_result {
  &_title,
  &_description {
    font-weight: 100;
    margin: 0 auto;
    text-align: center;
    color: var(--color-black);
  }

  &_title {
    font-size: var(--font-l);
    margin: 0 auto var(--space-xxl);
  }

  &_description {
    font-size: var(--font-m);
  }
}
