@import 'src/styles/variables';

.user_select {
  margin-bottom: 24px;
}

.user_name {
  display: inline-block;
  width: 260px;
  max-width: 260px;
  margin: 0 12px;
}

.total_achievements_title {
  font-size: var(--font-m);
  font-weight: 100;
  margin: 0 0 12px 0;
  color: var(--color-black);
}

